<div class="col_w960 col_w960_last">
    <h2>Latest Projects</h2>

    <div class="lp_box">
        <h6>Project 1</h6>
        <img src="/images/tooplate_image_01.jpg" />
        <a class="more float_r">More</a>
    </div>

    <div class="lp_box">
        <h6>Project 2</h6>
        <img src="/images/tooplate_image_02.jpg" />
        <a class="more float_r">More</a>
    </div>

    <div class="lp_box lp_box_last">
        <h6>Project 3</h6>
        <img src="/images/tooplate_image_03.jpg" />
        <a class="more float_r">More</a>
    </div>

    <div class="cleaner"></div>
</div>