<div class="col_w960">
    <div class="col_w450 float_l">
        <div class="wwd_box">
            <img src="/images/icon1.png" />
            <h3>Download Free Templates</h3>
            <p>Free template for everyone</p>
            <a class="more float_r">More</a>
        </div>

        <div class="wwd_box">
            <img src="/images/icon2.png" />
            <h3>Service 2</h3>
            <p>Description...</p>
            <a class="more float_r">More</a>
        </div>
    </div>

    <div class="col_w450 float_r">
        <div class="wwd_box">
            <img src="/images/icon3.png" />
            <h3>Service 3</h3>
            <p>Description...</p>
            <a class="more float_r">More</a>
        </div>

        <div class="wwd_box">
            <img src="/images/icon4.png" />
            <h3>Service 4</h3>
            <p>Description...</p>
            <a class="more float_r">More</a>
        </div>
    </div>

    <div class="cleaner"></div>
</div>